<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="General">
        <setting visible="false" type="select" id="debrid_provider" label="Debrid Provider" values="RealDebrid|Premiumize|None" defualt="None"/>
        <setting type="select" id="scraper" label="Scraper" values="TorrentApi|BitLord" default="TorrentApi"/>
        <setting type="bool" id="show_cached_only" label="Show Debrid Cached Items Only" default="false"/>
    </category>
    <category label="RealDebrid">
        <setting type="bool" id="debrid_enabled.RealDebrid" label="Enable" default="false"/>
        <setting type="number" id="debrid_priority.RealDebrid" label="Priority" default="100"/>
        <setting type="action" label="Reset RealDebrid auth" action="RunPlugin(plugin://plugin.video.foxystreams?mode=reset_auth&provider=RealDebrid)"/>
    </category>
    <category label="Premiumize">
        <setting type="bool" id="debrid_enabled.Premiumize" label="Enable" default="false"/>
        <setting type="number" id="debrid_priority.Premiumize" label="Priority" default="100"/>
        <setting type="text" id="Premiumize.api_key" label="Premiumize API Key" />
    </category>
    <category label="Search categories">
        <setting type="bool" id="search_ranked" label="Scene Releases Only" default="true"/>
        <setting type="bool" id="4kx265hdr" label="4k HDR x265" default="true"/>
        <setting type="bool" id="4kx265" label="4k x265" default="true"/>
        <setting type="bool" id="4kx264" label="4k x264" default="false"/>
        <setting type="bool" id="1080x264" label="1080p x264" default="false"/>
        <setting type="bool" id="720x264" label="720p x264" default="false"/>
        <setting type="bool" id="sdx264" label="SD x264" default="false"/>
        <setting type="bool" id="tvuhd" label="TV UHD" default="false"/>
        <setting type="bool" id="tvhd" label="TV HD" default="false"/>
        <setting type="bool" id="tvsd" label="TV SD" default="false"/>
        <setting type="bool" id="XXX" label="XXX" default="false"/>
    </category>
    <category label="BTS">
        <setting type="text" id="RealDebrid.api_key" label="RealDebrid.api_key" />
        <setting type="text" id="RealDebrid.refresh_token" label="RealDebrid.refresh_token" />
        <setting type="text" id="RealDebrid.client_id" label="RealDebrid.clientid" />
        <setting type="text" id="RealDebrid.client_secret" label="RealDebrid.client_secret" />
        <setting type="text" id="RealDebrid.expires" label="RealDebrid.expires" />
    </category>
</settings>
